* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  height: calc(100vh - 60px);
  background-color: #141922;
}

/* --------------- HEADER --------------- */


/* --------------- MAIN --------------- */


/* --------------- TASKBAR --------------- */
nav.taskbar {
  height: 60px;
  background-color: red;
}